.wiki{
  border: 1px solid salmon;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
}

.wikiOptions{
  /*background-color: salmon;*/
  padding: 5px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.wikiData{
  background-color: white;
  border-radius: 5px;
  color: salmon;
  border: 1px solid salmon;
  padding: 10px;
}

.wikiDraw{
  background-color: white;
  border-radius: 5px;
  color: salmon;
  border: 1px solid salmon;
  padding: 10px;
}

.wikiJustice{
  background-color: white;
  border-radius: 5px;
  color: salmon;
  border: 1px solid salmon;
  padding: 10px;
}

.wikiCases{
  background-color: salmon;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  padding: 10px;
  color: white;
}
.wikiCasesTitle{
  text-align: center;
}

.wikiCase{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  padding: 10px;
  color: salmon;
}


/* Individual Cases*/
.casesArea{

}
.caseWiki{

}
.caseWikiTitle{

}
.opinionArea{
  clear: left;

}
.justiceArea{
  width: 100%;
  height: 300px;
}
.justice{
  width: 100px;
  height: 100px;
  text-align: center;
  color: white;
  float: left;
}
.justiceOpinion{
  height: 100px;
  text-align: center;
  color: white;
  float: left;
}

/* opinion colors*/
.majority{
  background-color: #00cc66;
}
.joinmajority{
  background-color: #80ff80;
}
.dissent{
  background-color: #ff4d4d;
}
.joindissent{
  background-color: #ff8080;
}
.concurrence{
  background-color: #0099cc;
}
.joinconcurrence{
  background-color: #80dfff;
}
.concurrencedissent{
  background-color: #9900cc;
}
.joinconcurrencedissent{
  background-color: #bf80ff;
}
.plurality{
  background-color: green;
}
.joinplurality{
  background-color: #009900;
}
.didnotparticipate{
  background-color: white;
  color: black;
}
